@import "../../vars.css";


.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 10%;
  min-height: 85vh;
  overflow: hidden; 
}


.content {
  max-width: 520px;
  display: flex;
  flex-direction: column;
}


.title {
  font-size: 64px;
  font-weight: 900;
  margin-bottom: 20px;
  font-family: var(--font-roboto);
  color: white;
}


.description {
  font-size: 22px;
  line-height: 1.6;
  margin-bottom: 32px;
  color: #dbe2ff;
}


.contactBtn {
  width: fit-content;
  padding: 14px 32px;
  font-size: 20px;
  font-weight: 600;
  color: white;
  text-decoration: none;
  border-radius: 999px;
  background: linear-gradient(90deg, #5f7cff, #8fa2ff);
  box-shadow: 0 10px 30px rgba(95, 124, 255, 0.45);
}


.imageWrapper {
  width: 320px;            
  flex-shrink: 0;
}

.HeroImg {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
}


@media screen and (max-width: 830px) {
  .container {
    flex-direction: column-reverse;
    text-align: center;
    padding: 60px 6%;
  }

  .content {
    align-items: center;
  }

  .imageWrapper {
    width: 220px;         
    margin-bottom: 30px;
  }

  .title {
    font-size: 46px;
  }

  .description {
    font-size: 18px;
  }
}
