@import "../vars.css";


.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  margin: 0 10%;
  z-index: 10;
}

.title {
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-text);
}


.menu {
  position: relative;
  display: flex;
  align-items: center;
  gap: 24px;
}


.menuBtn {
  display: block;            
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.menuBtn:hover {
  transform: scale(1.1);
}


.menuItems {
  display: flex;             
  gap: 32px;
  list-style: none;
}

.menuItems a {
  font-size: 18px;
  color: var(--color-text);
  text-decoration: none;
  font-weight: 500;
}

.menuItems a:hover {
  color: #8fa2ff;
}


.menuOpen {
  position: absolute;
  top: 45px;
  right: 0;
  flex-direction: column;
  background-color: #0a192f;
  padding: 20px 25px;
  border-radius: 10px;
  gap: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}
